
:root {
  --blue: #6495ed;
   --darkblue: blue;
  --white: #faf0e6;
  --col: calc(100vw / 21);
  --gut: 70px;
}

body,ul {
	margin: 0;
	padding: 0;
}

h3 {
	margin-top: 0;
}

/*------------------ HOMEPAGE  ------------------- */
#hero > div {
  width: 100%;
  height: 100vh;
  background-image: url("../imgs/homepage-hero.png");
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}


 #intro {
  width: 100%;
  display: flex;
  justify-content: center;
}

#intro > div {
  max-width: 880px;
  margin: 40px;
  box-sizing: border-box;
  position: relative;
  margin-left: 40px;
  padding-left: 15px;
}
#intro > div:before {
    background-color: blue;
    content: "";
    top: 1px;
    bottom: 0;
    left: 0px;
    position: absolute;
    width: 2px;
    height: 100%;
}

#intro > div span {
  text-transform: uppercase;
}

.wrapper {    
	display: flex;
	position: relative;
	margin-top: 140px;
		z-index: 1;
}
.wrapper > .image-wrapper {
  width:calc(9* var(--col) + 7 *  var(--gut));

  position: relative;
 }
 .wrapper > .content {
  width: calc(11* var(--col) + 8 *  var(--gut));

   display: flex;
   align-items: center;
   justify-content: center;
   position: relative;
 }
 
img {
	  vertical-align: middle;
    height: auto;
    width: 100%;
}


.reverse {
	background-color: blue;
	margin-top: 0;
	z-index: 0;
	padding-top: 160px;
	margin-bottom: 0;
}

.hp-carousel{
  display: flex;

  margin-top: 160px;

}

.hp-carousel .title{
    width: 54.25%;
  position: relative;

}

.hp-carousel .textarea {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: calc(50vw - 560px);
    box-sizing: border-box;
    padding-bottom: 0;
    padding-right: 0;
    padding-top: 0;
  }
  .hp-carousel .content {
    width: 45.75%;
    padding-right: calc(50vw - 560px);
    box-sizing: border-box;
  }

.your-class {
      padding-left: calc(50vw - 560px);
  
        margin-bottom: 200px !important;
}
.your-class .carousel-item {
    vertical-align: middle;
    height: auto;
    width: 85%;
   margin-right: 25px;
  position: relative;

}

.slick-slide {
    
}

.your-class span {
  position: absolute;
  bottom: 25px;
  left: 32px;
  color: #fff;
}

.your-class span:before {
    background-color: blue;
    content: "";
    top: 1px;
    bottom: 0;
    left: -12px;
    position: absolute;
    width: 5px;
    height: 16px;
}


.your-class .hide {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: blue;
}

.your-class .carousel-expand {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50px;
  width: 50px;
  background-color: blue;
  background-image: url("../imgs/carousel-expand.svg");
  background-repeat: no-repeat;
   background-size: 14px 14px;
   background-position: 50%;
   z-index: 10;
}

.your-class .carousel-expand.contract {
  background-image: url("../imgs/carousel-contract.svg");
    background-color: #fff;

}

.your-class .show {
  display: block;
  padding: 25px;
  box-sizing: border-box;
}

.your-class .show {
  color: #fff;
}

.your-class .carousel-expand:hover {
cursor: pointer;
}

.in-numbers{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: grey;
  position: relative;
}
.in-numbers h2{
 margin-bottom: 80px;
}


.in-numbers .inner{
 width: 100%;
background-color: purple;
padding: 180px 0 330px;

}


.in-numbers .stats{
 width: 100%;
  display: flex;
    justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.in-numbers .stats > div{
  border-left: 1px solid #fff;
  padding-left: 10px;
  color: #fff;
}
.in-numbers .stats h3{
font-size: calc(18px + (50 - 18) * ((100vw - 300px) / (1600 - 300)));

margin-bottom: 12px;
}
.in-numbers .stats span{
font-size: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.in-numbers .inner{
padding-left: 40px;
padding-right: 40px;
}

.note{
  position: absolute;
  right: 60px;
  bottom: 60px;
}

.note span:before {
    background-color: blue;
    content: "";
    top: 1px;
    bottom: 0;
    left: -12px;
    position: absolute;
    width: 5px;
    height: 16px;
}

.our-impact {
width: calc(100% - 240px);
max-width: 1920px;
padding: 0;
margin: 200px auto;

}

.our-impact .wrapper {
display: flex;
margin: 0;
width: 100%;
    padding-bottom: 80px;
    max-width: 1920px;
}
.our-impact .wrapper div {
width: 50%;

}

.our-impact .wrapper div:nth-child(1) {
background-color: green;
  left: 40px;
  position: relative;
}
.our-impact .wrapper div:nth-child(2) {
    background-color: grey;
    position: absolute;
    right: 40px;
    height: 100%;
    top: 80px;
}

.support {
  width: 100%;
  margin-top: 120px;
}

.support .wrapper {
    display: flex;
  background-color: green;
}
.support .charity, .support .charity-imagery  {
  width: 50%;
  box-sizing: border-box;
}


.support .charity {
    padding: 10vw;
    text-align: center;

  }

.support .charity-imagery {
  background-image: url("../imgs/thames-reach.png");
    height: 100vh;
    background-size: cover;
    display: flex;
    align-items: center;
    max-height: 800px;
    justify-content: center;
}
.support .logo {
height: 210px;
width: 210px;
background-color: #fff;
border-radius: 50%;
  background-image: url("../imgs/thames-reach-logo.png");
  background-position: 50%;
  background-repeat: no-repeat;
}

.support .funding {
  display: flex;
  width: 100%;
  border: 1px solid #fff;
  position: relative;
  margin-top: -40px;
}
.support h5 {
  text-transform: uppercase;
  color: #fff;
  background-color: green;
  display: inline-block;
      position: relative;
    z-index: 1;
    padding: 10px 20px;


}
.support .funding div { 
 width: 33%;
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #fff;
}

.support .funding div:nth-child(2) {  
  border-left: 1px solid #fff;
  border-right: 1px solid #fff; 
}


.news .wrapper {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 400px;
  margin-bottom: 400px;
  display: flex;
    justify-content: space-evenly;
        box-sizing: border-box;
}
.news .wrapper > div:nth-child(2){
  margin-top: -120px;
}
.news .wrapper .content{
  background-color: #fff;
  position: relative;
  width: 100%;
  min-height: 210px;
}
.news .wrapper .image{
  max-width: 544px;
      width: calc(4* var(--col) + 3 * var(--gut));
}


@media (max-width: 1600px) {
.our-impact {
width: calc(100% - 5%);
}
}





@media (max-width: 1231px) {


.our-impact .wrapper {
   
    justify-content: space-between;
}
  .our-impact .wrapper div:nth-child(1) {
    width: 40%;
    margin-right: 40px;
      left: 0;
  }

    .our-impact .wrapper div:nth-child(2) {
    width: calc(60% - 40px);
    right: 0;
    top: 0;
    height: auto;
        background-color: #fff;
  }
.news .wrapper > div:nth-child(2){
  margin-top: 0;
}
  }


@media (max-width: 1230px) and (min-width: 768px) {


.wrapper {
    margin-left: 40px;
}
.wrapper > .image-wrapper {
  width: calc(6* var(--col) + 5 *  var(--gut));

 }
  .wrapper > .content {
  width: calc(13* var(--col) + 10 *  var(--gut));
 }

 .support .wrapper {

    margin-left: 0;

 }

}

@media (min-width: 1231px) {

 .wrapper > .content:before {
    background-color: gold;
    content: "";
    top: -80px;
    bottom: -80px;
    right: 0;
    position: absolute;
    width: calc(100% + 180px);
    height: calc(100% + 160px);
    z-index: -1;
}
 .reverse .content:before {
    content: "";
    top: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    width: 0;
    height: 0;
    z-index: -1;
}
.reverse > .content:after {
    background-color: blue;
    content: "";
    right: 0;
    position: absolute;
    width: calc(100% + 180px);
    height: 80px;
    z-index: -1;
    left: 0;
    bottom: -80px;
}
.textarea {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 160px;
    box-sizing: border-box;
    padding-bottom: 0;
    padding-right: calc(50vw - 560px);
    padding-top: 0;
	}
	.reverse .textarea {
    padding-left: calc(50vw - 560px);
    padding-right: 160px;

	}
  .in-numbers .inner{

padding-left: calc(50vw - 560px);
padding-right: calc(50vw - 560px);
}



	}



@media (max-width: 1600px) {

.support .funding {
 
}
.support .charity-imagery {
    max-height: 50vw;
}

.support .logo {
    height: 15vw;
    width: 15vw;
    max-width: 200px;
    max-height: 200px;
}
}


@media (max-width: 1000px) {
.support .logo {
background-size: 65%;
}
.support .charity {
    padding: 5vw;


}
}




	@media (max-width: 1330px) and (min-width: 1230px){
.textarea {
    padding-left: 100px;
}
}
  @media (max-width: 1230px){

.hp-carousel {

    margin-top: 80px;
}
}

@media (max-width: 1230px) and (min-width: 960px) {
.wrapper > .image-wrapper {
    width: auto;
    margin-right: 40px;

}

.wrapper > .content {
    align-items: flex-start;

}
.textarea {
    padding-right: 40px;
}


.hp-carousel .textarea {
padding-left: 40px;
}

.hp-carousel .title,.hp-carousel .content {
    width: 50%;
}
  .hp-carousel .content {
    padding-right: 10vw;
}




}

/*------------------ WHO WE ARE  ------------------- */

.wrapper > .image-wrapper{
     width: calc(9* var(--col) + 7 *  var(--gut));
}

#who-we-are.wrapper > .image-wrapper .image {
margin-right: 32%;
}


.blank > .content:before {
    display: none;
}


#who-we-are.reverse {
  background-color: #fff;
}

quote{
  font-size: 40px;
}


#who-we-are.reverse .textarea {
    padding-left: calc(45vw - 560px);
}
#who-we-are.reverse .textarea p{
    padding-left: calc(6vw);
}


@media (max-width: 1230px) and (min-width: 768px) {
.wrapper > .image-wrapper {
    width:  calc(99.9% * 2/5 - 24px);
        margin-right: 0;
}
.reverse > .image-wrapper {
    width:  calc(99.9% * 2/5 - 24px);
        margin-right: 0;
}


.reverse {
    margin-left: 0;
    margin-right: 0;
}
.wrapper > .content {
    width: calc(99.9% * 1/2 - 20px);
        margin-right: 40px;
 margin-left: 40px;        
}
.reverse {

    margin-top: 80px;
    padding-top: 80px;
 padding-bottom: 80px;    
}
.hp-carousel .textarea,.your-class {
padding-left: 40px;
}

/* --------- WHO WE ARE ----------- */
#who-we-are.wrapper > .image-wrapper .image {
    margin-right: 0;  
    margin-left: 32%;
}


}

@media (max-width: 767px) {


.wrapper {
    flex-direction: column;
    padding: 80px 40px;
}
.wrapper > .image-wrapper {
    width: 100%;
}
.wrapper > .content {
    width: 100%;
}
.hp-carousel {

    flex-direction: column;
    padding-left: 40px;
}

.hp-carousel .content {
    width: 66%;

}
.your-class {
padding-left: 40px;
} 

.in-numbers .stats > div{
min-width: 40%;
margin-bottom: 60px;
}
.in-numbers .inner{
 width: 100%;
background-color: purple;
padding-top: 90px;
padding-bottom: 115px;
}

.note{
  position: absolute;
  left: 50px;
  bottom: 60px;
}

.your-class span {
    position: absolute;
    bottom: 27px;
    left: 13px;
    color: blue;
}

.slick-initialized .slick-slide {
    display: block;
    padding-bottom: 60px;

}


.your-class .carousel-expand,.your-class .carousel-expand.contract  {
  display: none;
}


.our-impact {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
}

.our-impact .wrapper {
   
    flex-direction: column;
    padding: 0 40px;
    box-sizing: border-box;

}
  .our-impact .wrapper div:nth-child(1) {
    width: 100%;
    margin: 0;
  
  }

    .our-impact .wrapper div:nth-child(2) {
    width: 100%;
    margin: 0;
    position: relative;
    background-color: #fff;
 
  }
}

@media (max-width: 800px) {
.support .charity-imagery {
    background-image: none;
    width: 0;
}
.support .charity {
    width: 100%;
        padding-top: 100px;
}
.support .logo {
    background-size: 65%;
    position: absolute;
    left: calc(50vw - 55px);
    top: 50px;
    width: 100px;
    height: 100px;
}
.wrapper {

    padding: 80px 40px;
}
.support .charity-imagery {
    height: auto;
    max-height: 500px;
}

.news .wrapper {
  display: flex;
  align-items: center;
    justify-content: space-between;
    margin-left: 0;
    flex-direction: row;
    padding: 0 40px;


 
}

.news .wrapper > div {
    width: calc(50% - 20px);
 
}



.news .wrapper .image{
  max-width: 544px;
  width: 100%;
}
}

 





footer {
  width: 100%;
  background-color: var(--blue);
}

footer > div:first-child {
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
    margin: 0 auto;
    flex-wrap: wrap;
    padding: 0 40px;
    box-sizing: border-box;
}

footer .col {
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  -ms-flex-preferred-size: calc(25% - 20px);
  flex-basis: calc(25% - 20px);
}
footer  div > .col:last-child {
    width: auto;
    flex-basis: 0;
  }

footer .col span{
    margin-bottom: 20px;
    display: inline-block;
}

footer .col ul{
    list-style-type: none;
    border-left: 1px solid red;
}
footer .col ul li{
    margin-left: 6px;
}
footer .col a{
    text-decoration: none;
    color: var(--white);
}

.bottom {
  width: 100%;
  background-color: var(--darkblue);
}

.bottom > div:first-child {
  width: 100%;
  background-color: var(--darkblue);
  margin: 0 auto;
  max-width: 1280px;
  display: flex;
  justify-content: space-between;
  color: var(--white);
  height: 100px;
  align-items: center;
  flex-wrap: wrap;
      padding: 0 40px;
    box-sizing: border-box;
}




@media only screen and (max-width: 1024px) {
 footer .col {
  flex-basis: calc(100%);
  text-align: center;
}
.bottom > div:first-child div {
  flex-basis: calc(100%);
  text-align: center;
}
.bottom > div:first-child .image-wrapper { order: 1; }
.bottom > div:first-child div:nth-child(3) { order: 3; }

}




/*
.wrapper {
  display: grid;
  grid-template-columns: repeat(21, 1fr);
  grid-auto-rows: 100px;
  gap: 25px;
}

.wrapper .image-wrapper {
   grid-column: 1 / 12;
   grid-row: 1;
   background-color: red;
 }
 .wrapper .content {
   grid-column: 11/ 22;
   grid-row: 1;
   background-color: green;
 }

*/

/*
 .wrapper .content {
   grid-column: 3;
   grid-row: 2 / 4;
 }
 .wrapper div:nth-child(5) {
   grid-column: 1 / 3;
   grid-row: 1 / 3;
}

*/
/*
.wrapper {
	display: grid;
    grid-template-columns: repeat(21, 1fr);
    grid-auto-rows: 200px;
    column-gap: 25px;
    border: 1px solid;
}

.wrapper .image-wrapper {
   grid-column: 1 / 10;
   grid-row: 1;
   background-color: red;
 }
 .wrapper .content {
   grid-column: 9/ 21;
   grid-row: 1;
   background-color: green;
 }

*/

/*
.wrapper {
	width: 100%;
	display: flex;	
}
img {
	  vertical-align: middle;
    height: auto;
    max-width: 100%;
}

section.block .image {
	    flex-basis: calc(50% - 70px);
	        flex-shrink: 0;
}
section.block .content {
	display: flex;
	    flex-basis: calc(50% + 70px);
	    background-color: grey;
	    align-items: center;
	    padding-left: 10vw;
	        padding-right: 15vw;
}

@media (max-width: 1230px) and (min-width: 960px) {

.wrapper {
	margin-left:40px;
}

section.block .content {
	    background-color: green;
}

}





*/